<?php
/*
 * @author  Tigren Solutions <info@tigren.com>
 * @copyright Copyright (c) 2021 Tigren Solutions <https://www.tigren.com>. All rights reserved.
 * @license  Open Software License ("OSL") v. 3.0
 */
?>
<table>
    <tr>
        <th>Product</th>
        <th>Original Price</th>
        <th>Sale Off Price</th>
    </tr>
    <?php
        /**
         * @var \Tigren\Rules\Block\SaleOffIndex $block
         */
        $products = $block->getProducts();
        if ($products != null) {
            foreach ($products as $product) {
                $originalPrice = $product->getPrice();
                $discountAmount = $block->getRule()->getDiscountAmount() / 100;
                $newPrice = $originalPrice - $originalPrice * $discountAmount;
                echo
                    '<tr>
                        <td>' . $product->getName() . '</td>
                        <td>' . $originalPrice . '</td>
                        <td>' . $newPrice . '</td>
                    </tr>';
            }
        }
    ?>
</table>

</body>
</html>
